*.zip

# =========================
# Operating System Files
# =========================
node_modules

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/coverage

# IDE
.idea
.vscode

# NPM
npm-debug.log
